@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

.container {
  @apply max-w-[100%] md:max-w-[540%] lg:max-w-[992px] xl:max-w-[1200px] 2xl:max-w-[1400px] sm:min-w-[650px] mx-auto px-6;
}

body {
  font-family: var(--raleway);
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.font-raleway {
  font-family: var(--raleway);
}

.font-forte {
  font-family: var(--forte);
}

.font-rony {
  font-family: var(--rony);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}